<h2>Listado de estudiantes </h2>
<!-- Variable global @Student que contienes todos los estudiantes de la clase Student -->
<% @students %>
<!-- Creamos una tabla -->

<table border="1px">
	<thead>
		<tr>
			<th> Nombre </th>
			<th> Correo </th>
			<th> Fecha de nacimiento </th>
			<th> Programa </th>
		</tr>
	</thead>

	<tbody>
		<!-- Iteramos todos los estudiantes -->
		<% @students.each do |student| %>
			<tr>
				<!-- cuando encontramos  el  imprime en pantalla -->
				<td><%= student.nombre %></td>
				<td><%= student.programa%></td>
				<td><%= student.fecha%></td>
				<td><%= student.correo %></td>
				<td>
					<form action="/students/<%= student.id%>" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Eliminar">
					</form>
				</td>
				<td> <a href="/students/<%= student.id %>/edit"">Editar</a>  </td>
			</tr>
		<% end %> <!-- Fin del each -->

	</tbody>
</table>

<a href="/students/new">create Student</a>
